@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Macondo&family=Mochiy+Pop+One&family=Montserrat&family=Poppins:ital,wght@0,400;0,700;1,100;1,400&family=Roboto:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

body {
    background-image: url('img/fundo\ .png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header-nav {
    width: auto;
    background: #000000;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 124px;
    color: white;
}

.img-logo {
    margin-right: 450px;
}

#nav li {
    display: inline-flex;
    margin: 8px;
}

#nav li a {
    font-size: 16px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 3px 3px;
    transition: all .6s;
}

#nav li a:hover {
  transform: translateY(-3px);
  transition: all .6s;
}

section {
    margin-top: 10rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 20px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.959);
    width: 80%;
    height: 20rem;
}

.cnbnt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

section button {
    background-color: black;
    cursor: pointer;
    color: white;
    margin: 20px;
    width: 150px;
    height: 30px;
    border-radius: 2rem;
}
